@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Variables for easy theme management */
:root {
  --text: #fdfcfd;
  --background: #161315;
  --primary: #4d5c52;
  --secondary: #171a1c;
  --accent: #748b7d;
  --pos: 470px
}

/* Global styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

h1, h2 {
  font-weight: 500;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}

/* Theme color picker */
.theme-container{
  background-color: var(--secondary);
  position: absolute;
  padding: 10px;
  border-radius: 8px;
  top: 93.25vh;
  right: 97vw;
  z-index: 1001;
}

.theme-container:hover{
  background-color: var(--primary);
  transition: 0.3s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 1000;
}

.color-selector{
  position: absolute;
  padding: 15px;
  background-color: #171a1c;
  border-radius: 8px;
  margin-bottom: 100px;
  margin-right: var(--pos);
}

.modal-content {
  background: #171a1c;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.color-options button {
  padding: 15px;
  margin: 0px 5px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #161315;
  color: #fdfcfd;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center; /* Center button contents */
  text-align: center; /* Ensure text is centered */
}

.color-options button:hover {
  background-color: #4d5c52;
}

/* Join/Log in container styles */
.join-container {
  background-color: var(--secondary);
  padding: 25vh 20vw;
  border-radius: 8px;
}

.join-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.join-container input {
  width: 92%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  background-color: var(--background);
  color: var(--text);
  border-radius: 4px;
  transition: background-color 0.3s;
}

.join-container input::placeholder {
  color: var(--text);
}

.join-container input:focus {
  outline: none;
  background-color: var(--accent);
}

.join-container button {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: var(--accent);
  color: var(--text);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.join-container button:hover {
  background-color: var(--primary);
}

.chat-container {
  display: flex;
  flex-direction: row;
}

.chat-sidebar {
  margin-top: 2.5vh;
  margin-left: 1.5vw;
  height: 95vh;
  width: 15vw;
}

.chat-sidebar-container{
  border-radius: 8px;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 75px);
  overflow-y: auto;
}

.chat-sidebar h1 {
  margin-top: 3.5vh;
}

.profile-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-right: 30px;
  width: 79%;
  height: 8%;
  margin-bottom: 15px;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 50px;
  margin-right: 20px;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 55px;
  width: 100%;
  background-color: var(--primary);
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.back-button:hover{
  background-color: var(--accent);
}

.chat-header {
  height: 15vh;
  width: 85vw;
  background-color: var(--background);
}

.chat-header h1 {
  margin-left: 4.25vw;
  margin-top: 6vh;
}

.body-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 84vw;
  margin: 17.5vh 16.3vw;
}

.chat-body {
  height: 70vh;
  width: 100%;
  background-color: var(--background);
}

.chat-footer {
  height: 10vh;
  width: 75vw;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: end;
}

.react-scroll-to-bottom--css-ikcdz-1tj0vk3 {
  display: none !important;
}

/* Styling for the TextField and send button in chat-footer */
.chat-footer .MuiInputBase-root {
  background-color: var(--secondary);
  border-radius: 8px;
  transition: 0.25s;
}

.chat-footer .MuiInputBase-input {
  color: var(--text);
}

/* Adjusting the send button wrapper */
.send-button-wrapper {
  background-color: var(--primary);
  border-radius: 4px;
  padding: 2.5px;
  transition: 0.5s;
}

.send-button-wrapper .MuiSvgIcon-root {
  font-size: 16px;
}

.send-button-wrapper:hover {
  background-color: var(--accent);
}

/* Style adjustments for various Material-UI components */
.chat-footer .MuiInput-underline:before,
.chat-footer .MuiInput-underline:after,
.chat-footer .Mui-focused .MuiOutlinedInput-notchedOutline,
.chat-footer .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  display: none;
}

/* Remove the blue ripple effect on focus */
.chat-footer .MuiInputBase-root.Mui-focused::before {
  box-shadow: none;
}

.chat-footer .MuiSvgIcon-root {
  color: var(--text);
}

/* Chat messages styling */
.chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Scrollbar customization */
.react-scroll-to-bottom--css-kjplq-1n7m0yu::-webkit-scrollbar {
  background-color: transparent;
}

.react-scroll-to-bottom__button {
  display: none !important;
}

.messages {
  display: flex;
  flex-direction: column;
}

/* For Webkit browsers */
::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge, and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


#you, #other {
  align-items: flex-start;
}

#you .message-content > p,
#other .message-content > p {
  background-color: var(--primary);
  padding: 15px 20px;
  border-radius: 8px;
  max-width: 73vw;
}

#you .message-meta,
#other .message-meta {
  margin-top: -20px;
  margin-bottom: 5px;
}

#you .message-content{
  margin-left: 4.25vw;
}

#you .message-meta {
  margin-left: 4.25vw;
}

#other {
  align-items: flex-end;
}

#other .message-content {
  margin-right: 4.25vw;
}

#other .message-meta {
  margin-right: 4.25vw;
}

.gif {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25vw;
  height: auto;
  border-radius: 8px;
}

.message-gif {
  align-items: flex-start;
  margin-left: 4.25vw;
  width: max-content;
}

.gif-button {
  padding: 12px;
  width: 25vw;
  color: var(--text);
  background-color: var(--primary);
  border-radius: 8px;
  transition: 0.25s;
  border: none;
  margin-bottom: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.gif-button:hover {
  background-color: var(--accent);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 4.25vw;
}